.container {
  min-height: 50vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.footer {
  position: fixed;
  top: 5;
  bottom: 0;
  width: 100%;
  height: 100px;
  /*border-top: 1px solid #eaeaea;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;

}

.title a {
  color: #1e1014;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 1rem;
}


.line { 
  display: flex; 
  flex-direction: row; 
}        
.line:before, 
.line:after { 
  content: ""; 
  flex: 1 1; 
  border-bottom: 1px solid #4F6D7A; 
  margin: auto; 
} 

.verticalAlign {
  height: 80vh;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.card {
  margin: 1rem;
  margin-top: 4rem;
  flex-basis: 80%;
  padding: 1rem;
  background-color: rgba(239, 240, 209, 0.5);
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease transform .2s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-color: white;
}

.card:hover,
.card:focus,
.card:active {
  color: #1e1014;
  
  /*transform: scale(1.1);*/

}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card a {
  color: #D33F49;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.formControllers {
  background-color: transparent;
  margin-bottom: 0.5rem;
}

.logo {
  height: 1em;
}

.verticalCenter {
  height: 200px;
  vertical-align: middle;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
